# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: Lorem Ipsum
email: lorem@ipsum.com
description: > # this means to ignore newlines until "baseurl:"
  Lorem ipsum
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://your-site.com" # the base hostname & protocol for your site
twitter_username: xxxx
github_username:  xxxx
facebook_username: xxxx

# Build settings
markdown: kramdown
youtube_token: xxxx
youtube_channel: xxxx
